html {
    background-color: rgb(222, 140, 140);
}

.container {
    background-color: pink;
}   

.container p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
}